<p-toast position="bottom-right" [life]="3000"></p-toast>

<div class="login">
    <div class="login__content">
        <div class="login__img">
            <img src="../../../assets/images/login-img-1.svg" alt="">
        </div>

        <div class="login__forms">
            <form action="" class="login__registre" id="login-in" autocomplete="off">
                <h1 class="login__title">IT Desk Giriş Sayfası</h1>

                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <input [(ngModel)]="request.userNameOrEmail" pInputText placeholder="Kullanıcı Adı veya E-posta" name="username"/>
                </div>

                <div class="mt-2">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <p-password [(ngModel)]="request.password" name="password" placeholder="Şifre" [style]="{width: '100%'}">
                            <ng-template pTemplate="header">
                                <h6>Şifre Girin</h6>
                            </ng-template>
                        </p-password>
                    </div>
                </div>

                <div class="mt-2 flex align-items-center gap-1">
                    <p-checkbox [(ngModel)]="request.rememberMe" name="benihatirla" [binary]="true" inputId="ny"></p-checkbox>
                    <label for="ny">Beni Hatırla</label>
                </div>

                <div class="mt-2">
                <p-button (onClick)="signIn()" [style]="{width: '100%'}" severity="info" label="Giriş Yap"></p-button>
                </div>

                <div class="mt-2">
                    <span class="login__account">-- Google Hesabınızla Giriş Yapın --</span>
                </div>

                <div class="mt-2 flex justify-content-center">
                    <asl-google-signin-button type='icon' size='medium' width='400'></asl-google-signin-button>
                </div>
            </form>
        </div>
    </div>
</div>