
<div class="card" style="margin-top: 20px;">
    <p-button  (click)="show()" label="Yeni Destek Talebi" icon="pi pi-plus"></p-button>
</div>

<div class="card" style="margin-top: 20px;">
    <p-table #dt1 [value]="tickets" selectionMode="single" [(selection)]="selectedSubject" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
    [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:25%">Created Date <p-sortIcon field="createdDate"></p-sortIcon></th>
                <th pSortableColumn="country.name" style="width:25%">Subject <p-sortIcon field="subject"></p-sortIcon></th>
                <th pSortableColumn="status" style="width:25%">Is Open <p-sortIcon field="isOpen"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
            <tr [pSelectableRow]="ticket">
                <td>
                    <span class="p-column-title">Created Date</span>
                    {{ticket.createdDate}}
                </td>
                <td>
                    <span class="p-column-title">Subject</span>
                    <span class="ml-1 vertical-align-middle">{{ticket.subject}}</span>
                </td>
                <td>
                    <p-tag [value]="ticket.isOpen ? 'Open' : 'Close'" [severity]="ticket.isOpen ? 'success' : 'error'"></p-tag>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No tickets found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
